In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Electricity_Production_By_Source.csv',skiprows = 1, names=['Country', 'Code', 'Year', 'Coal', 'Gas', 'Hydro', 'Renewables', 'Solar', 'Oil', 'Wind', 'Nuclear'])
df

,Country,Code,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [3]:
fill_values = {'Coal': 0, 'Gas': 0,'Renewables':0,'Oil':0}
df.fillna(value=fill_values, inplace=True)

In [4]:
df.isnull().sum()

Country         0
Code          767
Year            0
Coal            0
Gas             0
Hydro           0
Renewables      0
Solar           0
Oil             0
Wind            0
Nuclear         0
dtype: int64

In [5]:
df = df[~df['Country'].isin(['CIS','EU-27', 'EU27+1', 'Other CIS','World',
                             'Faroe Islands','Macau','U.S. Pacific Islands',
                            'Afghanistan', 'Albania', 'Algeria', 
                             'American Samoa',
                             'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Korea', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe','Western Africa','Middle Africa','Western Africa',
        'World','Other Northern Africa','Other South America', 
        'Other Southern Africa','Other Caribbean', 
        'Other Middle East','Eastern Africa','Europe (other)',
        'Central America'])]

In [6]:
df

,Country,Code,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
20,Africa,NaN,1985,139.514336,27.926500,49.449685,0.269000,0.000000,34.295580,0.000000,5.315000
21,Africa,NaN,1986,142.078250,28.349000,51.145373,0.659000,0.000000,37.184148,0.000000,8.803000
22,Africa,NaN,1987,152.227476,31.584000,49.056460,0.658000,0.000000,38.683589,0.000000,6.167000
23,Africa,NaN,1988,152.448726,34.009500,53.593456,0.626000,0.000000,42.612885,0.000000,10.493000
24,Africa,NaN,1989,157.210628,36.939000,56.276215,0.617000,0.000000,43.337882,0.000000,11.099000
...,...,...,...,...,...,...,...,...,...,...,...
5140,South & Central America,NaN,2015,75.119329,261.507205,671.496480,73.174383,2.881463,157.210713,31.464194,21.773153
5141,South & Central America,NaN,2016,77.747372,251.483928,686.359919,76.126006,4.914458,139.852357,45.175266,24.149344
5142,South & Central America,NaN,2017,69.854159,252.571711,700.435532,79.072681,7.598840,120.304257,56.133622,21.827196
5143,South & Central America,NaN,2018,70.385534,243.535313,718.206555,83.424424,12.739130,113.945673,65.751969,22.545887
5144,South & Central America,NaN,2019,74.288292,244.952358,714.703388,87.372191,17.617848,86.273366,79.158243,24.606730

In [7]:
df2 = df.drop(['Code'], axis=1)
df2

,Country,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
20,Africa,1985,139.514336,27.926500,49.449685,0.269000,0.000000,34.295580,0.000000,5.315000
21,Africa,1986,142.078250,28.349000,51.145373,0.659000,0.000000,37.184148,0.000000,8.803000
22,Africa,1987,152.227476,31.584000,49.056460,0.658000,0.000000,38.683589,0.000000,6.167000
23,Africa,1988,152.448726,34.009500,53.593456,0.626000,0.000000,42.612885,0.000000,10.493000
24,Africa,1989,157.210628,36.939000,56.276215,0.617000,0.000000,43.337882,0.000000,11.099000
...,...,...,...,...,...,...,...,...,...,...
5140,South & Central America,2015,75.119329,261.507205,671.496480,73.174383,2.881463,157.210713,31.464194,21.773153
5141,South & Central America,2016,77.747372,251.483928,686.359919,76.126006,4.914458,139.852357,45.175266,24.149344
5142,South & Central America,2017,69.854159,252.571711,700.435532,79.072681,7.598840,120.304257,56.133622,21.827196
5143,South & Central America,2018,70.385534,243.535313,718.206555,83.424424,12.739130,113.945673,65.751969,22.545887
5144,South & Central America,2019,74.288292,244.952358,714.703388,87.372191,17.617848,86.273366,79.158243,24.606730

In [8]:
df2.Country.unique()

array(['Africa', 'Asia Pacific', 'Europe', 'Middle East', 'North America',
       'Other Asia & Pacific', 'South & Central America'], dtype=object)

In [9]:
df2.isnull().sum()

Country       0
Year          0
Coal          0
Gas           0
Hydro         0
Renewables    0
Solar         0
Oil           0
Wind          0
Nuclear       0
dtype: int64

In [10]:
# Assuming your dataframe is named 'df' and has a column named 'country' and a column named 'year'

# Get a list of unique countries in the dataframe
countries = df2['Country'].unique()

# Create an empty list to store the countries with missing data
missing_countries = []

# Loop through each country in the 'countries' list
for country in countries:
    # Get a subset of the dataframe for the current country
    country_df = df[df['Country'] == country]
    # Get a list of unique years in the subset dataframe
    years = country_df['Year'].unique()
    # Check if the number of years in the subset dataframe is equal to the number of years from the minimum year to the maximum year in the subset dataframe
    if len(years) != max(years) - min(years) + 1:
        # If the number of years is not equal, add the country to the 'missing_countries' list
        missing_countries.append(country)

# Print the list of countries with missing data
print("Countries with missing data:", missing_countries)

Countries with missing data: []

In [12]:
df2

,Country,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
20,Africa,1985,139.514336,27.926500,49.449685,0.269000,0.000000,34.295580,0.000000,5.315000
21,Africa,1986,142.078250,28.349000,51.145373,0.659000,0.000000,37.184148,0.000000,8.803000
22,Africa,1987,152.227476,31.584000,49.056460,0.658000,0.000000,38.683589,0.000000,6.167000
23,Africa,1988,152.448726,34.009500,53.593456,0.626000,0.000000,42.612885,0.000000,10.493000
24,Africa,1989,157.210628,36.939000,56.276215,0.617000,0.000000,43.337882,0.000000,11.099000
...,...,...,...,...,...,...,...,...,...,...
5140,South & Central America,2015,75.119329,261.507205,671.496480,73.174383,2.881463,157.210713,31.464194,21.773153
5141,South & Central America,2016,77.747372,251.483928,686.359919,76.126006,4.914458,139.852357,45.175266,24.149344
5142,South & Central America,2017,69.854159,252.571711,700.435532,79.072681,7.598840,120.304257,56.133622,21.827196
5143,South & Central America,2018,70.385534,243.535313,718.206555,83.424424,12.739130,113.945673,65.751969,22.545887
5144,South & Central America,2019,74.288292,244.952358,714.703388,87.372191,17.617848,86.273366,79.158243,24.606730

In [13]:
df2.rename(columns={'Country': 'Continent'}, inplace=True)

In [14]:
df2

,Continent,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
20,Africa,1985,139.514336,27.926500,49.449685,0.269000,0.000000,34.295580,0.000000,5.315000
21,Africa,1986,142.078250,28.349000,51.145373,0.659000,0.000000,37.184148,0.000000,8.803000
22,Africa,1987,152.227476,31.584000,49.056460,0.658000,0.000000,38.683589,0.000000,6.167000
23,Africa,1988,152.448726,34.009500,53.593456,0.626000,0.000000,42.612885,0.000000,10.493000
24,Africa,1989,157.210628,36.939000,56.276215,0.617000,0.000000,43.337882,0.000000,11.099000
...,...,...,...,...,...,...,...,...,...,...
5140,South & Central America,2015,75.119329,261.507205,671.496480,73.174383,2.881463,157.210713,31.464194,21.773153
5141,South & Central America,2016,77.747372,251.483928,686.359919,76.126006,4.914458,139.852357,45.175266,24.149344
5142,South & Central America,2017,69.854159,252.571711,700.435532,79.072681,7.598840,120.304257,56.133622,21.827196
5143,South & Central America,2018,70.385534,243.535313,718.206555,83.424424,12.739130,113.945673,65.751969,22.545887
5144,South & Central America,2019,74.288292,244.952358,714.703388,87.372191,17.617848,86.273366,79.158243,24.606730

In [15]:
df2.Year.unique()

array([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019], dtype=int64)

In [18]:
df2.loc[df2['Continent'] == 'Africa']

,Continent,Year,Coal,Gas,Hydro,Renewables,Solar,Oil,Wind,Nuclear
20,Africa,1985,139.514336,27.926500,49.449685,0.269000,0.000000,34.295580,0.000000,5.315000
21,Africa,1986,142.078250,28.349000,51.145373,0.659000,0.000000,37.184148,0.000000,8.803000
22,Africa,1987,152.227476,31.584000,49.056460,0.658000,0.000000,38.683589,0.000000,6.167000
23,Africa,1988,152.448726,34.009500,53.593456,0.626000,0.000000,42.612885,0.000000,10.493000
24,Africa,1989,157.210628,36.939000,56.276215,0.617000,0.000000,43.337882,0.000000,11.099000
25,Africa,1990,164.673535,42.646000,57.254659,0.765731,0.000000,43.125892,0.000000,8.449000
26,Africa,1991,164.785978,45.611500,60.651488,0.788000,0.000000,42.202621,0.000000,9.144000
27,Africa,1992,165.420407,50.544500,57.860292,0.824250,0.000000,42.742592,0.000000,9.288000
28,Africa,1993,175.962405,55.133500,56.682507,0.915700,0.000000,41.905016,0.002000,7.255000
29,Africa,1994,179.798731,62.101500,57.596049,0.821000,0.000000,39.929520,0.005400,9.697000
30,Africa,1995,186.889164,66.314000,59.768877,1.020700,0.000000,36.149857,0.006300,11.300999
31,Africa,1996,197.294306,69.991500,62.316459,1.260093,0.000000,37.323564,0.007100,11.775000
32,Africa,1997,206.047764,75.844500,63.852498,1.388640,0.000000,38.509825,0.007200,12.647000
33,Africa,1998,201.699962,77.330500,66.654888,1.714549,0.000000,42.877146,0.007600,13.600999
34,Africa,1999,199.795715,86.090500,70.684261,1.696125,0.000000,44.686600,0.019800,12.837000
35,Africa,2000,208.213584,91.841957,75.245817,2.269063,0.013141,46.263333,0.176000,13.010000
36,Africa,2001,214.431160,100.976440,80.864115,2.335353,0.016360,47.138604,0.416080,10.719000
37,Africa,2002,222.897679,115.952102,85.181468,2.286400,0.019471,46.409766,0.444584,11.990999
38,Africa,2003,235.015477,123.976499,82.872601,2.622400,0.023029,47.871088,0.541199,12.662999
39,Africa,2004,245.194592,138.153538,87.405469,2.984100,0.027461,48.735484,0.769281,13.365123
40,Africa,2005,248.812068,152.748809,89.065734,3.014800,0.032376,50.775017,0.782382,11.292654
41,Africa,2006,255.901432,164.414609,92.240553,3.775290,0.040657,54.697241,0.852566,10.025999
42,Africa,2007,262.470414,174.818742,95.340562,3.146850,0.053333,58.190713,1.016223,11.317000
43,Africa,2008,257.491319,184.492775,97.157209,3.271422,0.075132,62.768008,1.312178,13.004000
44,Africa,2009,247.705588,192.527715,99.761137,3.562722,0.098153,67.712713,1.589731,12.805999
45,Africa,2010,257.334879,218.292110,107.426833,3.829542,0.213821,65.371260,2.284182,13.527000
46,Africa,2011,259.959008,235.694003,110.444821,3.929657,0.452785,57.839206,2.537473,12.902000
47,Africa,2012,255.512364,261.238894,110.952300,4.089950,0.551142,68.947723,2.961731,12.967434
48,Africa,2013,251.335228,268.471054,117.672846,4.438768,0.824348,79.629538,3.559784,14.105998
49,Africa,2014,251.874137,277.116843,123.726795,5.552723,1.831308,84.679137,5.158122,13.794000
50,Africa,2015,246.835961,292.686212,119.856820,7.135987,3.595710,92.816685,8.888286,12.237000
51,Africa,2016,249.796291,306.894283,115.801250,7.206840,4.939310,87.161752,11.305821,15.913439
52,Africa,2017,249.720742,326.866808,123.815625,7.571013,6.984051,80.007609,12.458179,15.756337
53,Africa,2018,256.568577,331.303079,130.387840,8.059533,9.850223,79.317763,14.287795,11.090427
54,Africa,2019,253.555978,340.472820,132.734791,8.184247,19.377978,81.274240,17.508052,14.214193